<!DOCTYPE html>
<html>

<head>
  <title>{{ .Permalink }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="robots" content="noindex">
  <meta charset="utf-8" />
  <noscript>
    <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
  </noscript>
  <script>
    ; (function () {
      // Only do i18n at root,
      // otherwise, redirect immediately
      if (window.location.pathname !== '/') {
        window.location.replace('{{ .Permalink }}')
        return
      }

      var getFirstBrowserLanguage = function () {
        let nav = window.navigator;
        let browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'];
        let i;
        let language;

        if (Array.isArray(nav.languages)) {
          for (i = 0; i < nav.languages.length; i++) {
            language = nav.languages[i]
            if (language && language.length) {
              return language
            }
          }
        }

        // support for other well known properties in browsers
        for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
          language = nav[browserLanguagePropertyKeys[i]]
          if (language && language.length) {
            return language
          }
        }
        return 'en'
      }

      var preferLang = getFirstBrowserLanguage()
      if (preferLang.indexOf('fr') !== -1) {
        window.location.replace('/fr/')
      } else {
        // fallback to English
        window.location.replace('/en/')
      }
    })()
  </script>
</head>

<body>
  <h1>Rerouting</h1>
  <p>You should be rerouted in a jiff, if not, <a href="{{ .Permalink }}">click here</a>.</p>
</body>

</html>
