---
noTitle: true
slug: tarifs
type: pricing
---

<header id="pricing" class="hero wrapper">
  <h1>Des tarifs simples, <em>pour toutes les fermes</em></h2>
  <p>Démarrez votre essai gratuit de 30 jours, sans carte bancaire.</p> 
  <div class="pricing__table grid-12" data-thirds>
    <div>
      <header>
        <h2>Petite ferme&nbsp;(<&nbsp;1&nbsp;ha)</h2>
        <ul role="list">
          <li>5 €<span>/mois</span></li>
          <li>50 €<span>/an</span></li>
        </ul>
        <a href="http://app.brinjel.com/register" class="button" data-type="primary" />Essayer Brinjel</a>
      </header>
      <article>
        <ul role="list">
          <li>2 membres</li>
          <li>1 Go de stockage photos</li>
        </ul>
      </article>
    </div>
    <div>
      <header>
        <h2>Moyenne ferme&nbsp;(1-3&nbsp;ha)</h2>
        <ul role="list">
          <li>10 €<span>/mois</span></li>
          <li>100 €<span>/an</span></li>
        </ul>
        <a href="http://app.brinjel.com/register" class="button" data-type="primary" />Essayer Brinjel</a>
      </header>
      <article>
        <ul role="list">
          <li>10 membres</li>
          <li>5 Go de stockage photos</li>
        </ul>
      </article>
    </div>
    <div>
      <header>
        <h2>Grande ferme&nbsp;(>&nbsp;3&nbsp;ha)</h2>
        <ul role="list">
          <li>30 €<span>/mois</span></li>
          <li>300 €<span>/an</span></li>
        </ul>
        <a href="http://app.brinjel.com/register" class="button" data-type="primary" />Essayer Brinjel</a>
      </header>
      <article>
        <ul role="list">
          <li>Membres illimités</li>
          <li>20 Go de stockage photos</li>
          <li>Assistance prioritaire</li>
        </ul>
      </article>
    </div>
  </div>
</header>

<article id="pricing-faq" class="faq">
  <div class="wrapper flow prose">
    <h2>Foire aux questions</h2>
    <h3>Quelle sont les différences entre les offres ?</h3>
    <p>
      Afin quel le maximum de personnes puissent profiter de Brinjel, nous proposons un
      premier prix accessible. L’ensemble des fonctionnalité est disponible dans
      chacune des nos offres. Les seules différences sont le nombre de membres par
      ferme et l’espace de stockage disponible pour les photos associées aux
      notes. Nous fournissons également une assistance prioritaire à l’offre «&nbsp;grande&nbsp;».
    </p>

    <h3>Il y a-t-il des limitations pendant la période d’essai ?</h3>
    <p>
      La seule limitation pendant la période d’essai concernent l’envoi de
      photos avec les notes. Le stockage des photos ayant un coût, nous le
      réservons aux personnes ayant souscrit à un abonnement. À par cela, vous
      aurez accès à toutes les fonctionnalités.
    </p>

    <h3>Que se passera-t-il à la fin de la période d’essai ?</h3>
    <p>
      Après les 30 jours d’essai, les fonctionnalités de Brinjel seront
      désactivées. Vous aurez alors le choix de vous abonner en entrant vos
      informations de paiement, ou de récupérer toutes vos données en un clic.
    </p>

    <h3>Le prélèvement commencera-t-il automatique à la fin de la période d’essai ?</h3>
    <p>
      Non : nous ne vous demandons pas votre carte bancaire pour essayer
      Brinjel. La facturation ne commencera donc que lorsque vous aurez décidé
      de vous abonner.
    </p>

    <h3>Pourrai-je annuler mon abonnement à tout moment ?</h3>
    <p>
      Oui. Et vous pourrez récupérer la totalité des données de votre ferme.
    </p>

    <h3>Les taxes sont-elles incluses dans le prix ?</h3>
    <p>
      Non. Les taxes perçues par notre prestataire de paiement s'ajoutent aux prix indiqués.
    </p>

    <h3>Et si j'ai d'autres questions&nbsp;?</h3>
    <p><a href="/fr/contact">Contactez-nous</a> et nous vous aiderons.</p>
  </div>
</article>
