{{ define "main" }}
  <header class="wrapper">
    <h1>{{ .Title }}</h1>
    <h2><em>{{ .Params.Subtitle }}</em></h2>

    <p>{{ .Description }}</p>
  </header>
  <article class="bg-gray-50">
    <div class="news-list__wrapper wrapper">
      <ul class="news-list" role="list">
        {{ range .Pages }}
          <li class="card stack">
            <h2>{{ .Title }}</h2>
            {{- .Content -}}


            <div class="cluster">
              <time datetime="{{ .Date }}"
                >{{ .Date | time.Format ":date_long" }}</time
              >
              {{ with .GetTerms "tags" }}
                <div class="news-list__tags cluster">
                  {{ range . }}
                    <span>{{ .Title }}</span>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  </article>
{{ end }}
