{{- $image := resources.Get (.Get "src") -}}

{{- if $image -}}
  {{- $post_image_webp := partial "image-converter.html" (dict "ImageSrc" (.Get "src") "ImgParam" (printf "%dx%d webp q100" $image.Width $image.Height)) -}}
  {{- $post_image_png := partial "image-converter.html" (dict "ImageSrc" (.Get "src") "ImgParam" (printf "%dx%d png q100" $image.Width $image.Height)) -}}
  <picture>
    <source srcset="{{ $post_image_webp }}" type="image/webp" />
    <source srcset="{{ $post_image_png }}" type="image/png" />
    <img
      loading="lazy"
      decoding="async"
      src="{{ $post_image_png }}"
      {{ with .Get "alt" }}
        alt="{{ . }}"
      {{ end }}
      {{ with .Get "title" }}title="{{ . }}"{{ end }}
    />
  </picture>
{{- else -}}
  <img
    loading="lazy"
    src="{{ .Destination | safeURL }}"
    {{ with .Get "alt" }}
      alt="{{ . }}"
    {{ end }}
    {{ with .Get "title" }}title="{{ . }}"{{ end }}
  />
{{- end -}}
