.faq {
  background: var(--color-white);
  padding-block-start: var(--hero-overlap);

  & > div.wrapper {
    max-width: var(--measure);
  }

  & h2 {
    column-span: all;
    text-align: center;
    margin-block-end: var(--padding-l);
  }

  & h3 {
    break-after: avoid-column;
  }
}
