@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/dm-sans-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-sans-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src:
    url("../fonts/dm-sans-v15-latin-italic.woff2") format("woff2"),
    url("../fonts/dm-sans-v15-latin-italic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/dm-sans-v15-latin-600.woff2") format("woff2"),
    url("../fonts/dm-sans-v15-latin-600.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/dm-sans-v15-latin-700.woff2") format("woff2"),
    url("../fonts/dm-sans-v15-latin-700.woff") format("woff");
}
