body {
  display: flex;
  flex-direction: column;
  background: var(--color-global-bg);
  color: var(--color-global-text);
  font-family: var(--font-base);
  font-size: var(--step-0);
  line-height: 1.6;
  letter-spacing: var(--tracking);
  margin: 0;
  min-height: 100vh;
}

::placeholder {
  opacity: 1;
  color: var(--color-dark);
}

:focus {
  outline-color: var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
  outline-style: var(--focus-ring-style);
  outline-width: var(--focus-ring-width);
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }

  :focus-visible {
    outline-color: var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    outline-style: var(--focus-ring-style);
    outline-width: var(--focus-ring-width);
  }
}

:target {
  scroll-margin-top: 2ex;
}

::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

main {
  &:focus {
    outline: none;
  }

  & a {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.09em;
    text-decoration-color: currentColor;
    color: var(--color-blue-600);

    &:hover {
      color: currentColor;
    }
  }

  & > header {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding-block: var(--space-3xl);

    & p {
      max-width: var(--measure-m);
      font-size: var(--step-1);
    }

    & time {
      color: var(--color-gray-600);
    }
  }

  & > article {
    padding-block: var(--space-2xl);
    & img {
      margin-block: var(--padding-base);
    }
  }
}

.blog-info {
  text-transform: capitalize;
  font-size: var(--text-size-small);
  display: flex;
  gap: var(--space-2xs);

  & a {
    font-weight: var(--font-bold);
  }

  & a:not(:hover) {
    text-decoration-line: none;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: var(--heading-font-weight, var(--font-bold));
  font-family: var(--heading-font-family, var(--font-sans));
  letter-spacing: var(--kerning-tight);
  font-feature-settings: "cpsp" on;
  line-height: 1.2;
  overflow-wrap: anywhere;
  text-wrap: balance;

  & em {
    color: var(--color-accent);
  }
}

:is(h1, h2, h3, h4) em {
  font-style: normal;
}
@media (min-width: 50em) {
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: unset;
  }
}

h1 {
  font-size: var(--text-size-heading-1);
  max-width: var(--measure-s);
}

h2 {
  font-size: var(--text-size-heading-2);
  max-width: var(--measure-m);
}

h3,
h4,
h5,
h6 {
  font-size: var(--text-size-heading-3);
  max-width: var(--measure-m);
}

ul,
ol {
  /* padding-inline-start: 1em; */
  padding-inline: 0;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--step-1);

  & > * {
    max-width: 50ch;
  }
}

img {
  border: 1px solid var(--color-gray-100);
  border-radius: var(--radius);
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.15ex;
  text-decoration-skip: none;
  text-underline-offset: 0.15ex;
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

body > header {
  color: var(--color-primary);
  background: var(--color-light);
  padding: 1.78rem 0;

  & nav {
    font-family: var(--font-sans);
  }

  & nav a {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.1em;
  }

  & nav ul {
    --cluster-justify: flex-start;
    list-style: none;
    padding-inline: 0;
  }

  & li[aria-current="page"] a {
    text-decoration-color: var(--color-light);
    text-decoration-thickness: 0.5ex;
    text-underline-offset: 0.5ex;
  }
}

/* Utilities */
.font-sans {
  font-family: var(--font-sans);
}
.text-small {
  font-size: var(--step-0);
}

.button {
  --button-gap: 0.5em;
  --button-padding: var(--padding-button);
  --button-bg: var(--color-surface-bg);
  --button-text: var(--color-surface-text);
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0.5em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--button-gap, var(--gutter));
  padding: var(--button-padding);

  background: var(--button-bg);
  color: var(--button-text);
  text-wrap: balance;

  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  text-decoration: none;
  font-weight: var(--button-font-weight, var(--font-semibold));
  font-size: var(--button-font-size, var(--text-size-small));
  line-height: var(--button-leading, 1.1);
  letter-spacing: 0.05ch;

  cursor: pointer;

  & > .icon {
    color: var(--button-text);
  }
  &:hover {
    background: var(--button-interact-bg, var(--color-surface-interact-bg));
    color: var(--button-interact-text, var(--color-surface-interact-text));
  }
  &:active {
    background: var(--button-active-bg, var(--color-surface-active-bg));
    color: var(--button-active-text, var(--color-surface-active-text));
    transform: scale(99%);
  }
  &:focus {
    outline-width: var(
      --button-outline-width,
      calc(2 * var(--button-border-width))
    );
    outline-style: var(--button-outline-style, var(--button-border-style));
    outline-color: var(--button-outline-color, var(--button-border-color));
    outline-offset: var(
      --button-outline-offset,
      calc(var(--button-border-width) * 2)
    );
  }
  &[data-type="secondary"] {
    --button-text: var(--color-surface-interact-bg);
    --button-bg: var(--color-light);
    --button-border-color: var(--color-surface-interact-bg);
    --button-interact-text: var(--color-blue-800);
    --button-interact-bg: var(--color-blue-50);
    --button-active-text: var(--color-blue-800);
    --button-active-bg: var(--color-blue-100);
  }
  &[data-type="tertiary"] {
    --button-text: var(--color-gray-800);
    --button-bg: transparent;
    --button-interact-bg: var(--color-gray-200);
    --button-interact-text: var(--color-gray-800);
    --button-active-bg: var(--color-gray-300);
    --button-active-text: var(--color-gray-800);
    text-decoration: underline 1px;
  }
  &[data-type="icon"] {
    --button-text: var(--color-gray-800);
    --button-bg: transparent;
    --button-radius: 9999px;
    --button-padding: var(--input-block-padding);
    --button-interact-bg: var(--color-gray-200);
    --button-interact-text: var(--color-gray-800);
    --button-active-bg: var(--color-gray-300);
    --button-active-text: var(--color-gray-800);
  }
  &[data-green] {
    --button-bg: var(--color-teal-200);
    --button-text: var(--color-teal-800);
    --button-interact-text: var(--color-teal-800);
    --button-active-text: var(--color-teal-800);
    --button-interact-bg: var(--color-teal-300);
    --button-active-bg: var(--color-teal-400);
  }
  &[data-red] {
    --button-bg: var(--color-rose-200);
    --button-text: var(--color-rose-800);
    --button-interact-bg: var(--color-rose-300);
  }

  &[data-rounded] {
    border-radius: 6666px;
    padding: var(--space-3xs);
  }

  &[data-big] {
    --button-padding: calc(var(--padding-button-block) * 1.5)
      calc(var(--padding-button-inline) * 1.5);
    font-size: var(--step-0);
  }

  &[data-fancy] {
    --button-border-color: none;
    background-image: linear-gradient(
      135deg,
      var(--color-primary) 0,
      var(--color-accent-light) 100%
    );
  }
}

.sr-only:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  position: absolute;
  top: var(--step-0);
  left: var(--step-0);
  z-index: 99;
}

.brand-logo {
  height: 5rem;
  width: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-block-end: var(--space-2xl);
  margin-block-end: calc(-1 * var(--hero-overlap));
  gap: var(--gutter);
  z-index: 1;

  & p {
    color: var(--color-text-light);
    max-width: var(--measure);
    text-wrap: balance;
  }

  & figure {
    display: relative;
  }

  & img {
    border: none;
    box-shadow: var(--shadow-m);
  }

  & > :last-child {
    margin-block-start: var(--space-l);
  }
}

.features {
  background: #fff;
  padding-block: var(--hero-overlap) var(--padding-l);
}

.features-grid {
  /* font-size: var(--text-size-small); */
  & dd {
    color: var(--color-gray-600);
  }

  & dt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: var(--font-bold);
    gap: var(--padding-s);
  }
}

.features-grid__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  padding: var(--space-2xs);
  background: var(--color-accent);

  & svg {
    color: var(--color-light);
    height: var(--step-1);
    width: var(--step-1);
  }
}

.single {
  margin-inline: auto;
  flex-grow: 1;
}

.bottom-cta {
  font-weight: var(--font-bold);
  padding-block: var(--space-2xl);
  & a {
    text-decoration: none;
    font-weight: var(--font-bold);
  }
  & .button {
    flex-shrink: 0;
  }
  & > div:first-of-type {
    font-family: var(--font-sans);
    & a {
      font-size: var(--step-1);
      color: var(--color-blue-600);
      &:hover {
        color: var(--color-blue-500);
      }
    }
  }
}

.columns {
  column-width: 30ch;
  gap: 5em;

  & h3:first-of-type {
    margin-top: 0;
  }
  & h3 {
    margin: 3em 0 -0.5em;
    margin-top: 3em;
  }
}

.article-list {
  --flow-space: calc(2 * var(--gutter));
  margin-block-start: var(--padding-l);

  & h2 {
    display: block;
    margin-block-end: var(--space-2xs);
    color: var(--color-blue-600);
  }

  & time {
    font-size: var(--text-size-small);
    /* font-weight: var(--font-bold); */
    color: var(--color-gray-600);
    /* order: -1; */
  }

  & li {
    display: flex;
    flex-direction: column;
    padding-block: var(--padding-l);
    & > * + * {
      margin-block-start: var(--space-3xs);
    }
  }
}

.news-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);

  & li {
    width: max(100%, calc(66% + var(--padding-base)));
    z-index: 1;

    &:nth-child(2n) {
      align-self: flex-end;
    }
  }

  & time {
    color: var(--color-gray-500);
    font-size: var(--text-size-small);
  }
}

.news-list__tags {
  & span {
    background: var(--color-gray-100);
    border-radius: 9999px;
    padding: var(--space-3xs) var(--space-xs);
    font-weight: var(--font-bold);
    font-size: var(--text-size-small);
  }
}

@media (min-width: 48rem) {
  .news-list li {
    width: min(100%, calc(66% + var(--padding-base)));
  }
}

.news-list__wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: var(--color-gray-200);
    width: 0.5rem;
    height: 100%;
    inset-inline-start: calc(50% - 0.5rem);
    border-radius: var(--border-radius);
  }
}

.card {
  background: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--space-l);
  box-shadow: var(--shadow-m);
}

.prose {
  margin-block-end: var(--padding-l);
  & :is(p, ul, ol, dt) {
    max-width: var(--measure);
  }

  & :is(ul, ol) {
    margin-inline-start: var(--space-l);

    & > * + * {
      margin-block-start: var(--padding-base);
    }
  }
}

.bg-white {
  background: var(--color-white);
}

.bg-gray-50 {
  background: var(--color-gray-50);
}
