/* Layouts */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid {
  display: grid;
  grid-gap: var(--grid-gutter, var(--gutter));
}

@supports (width: min(var(--grid-column-width, var(--measure-s)), 100%)) {
  .grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--grid-column-width, var(--measure-s)), 100%), 1fr)
    );
  }
}

.cluster {
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-m));
  align-items: var(--cluster-align, center);
  justify-content: var(--cluster-justify, space-between);
}

.cluster-align-normal {
  --cluster-align: normal;
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--gutter);
  max-width: var(--wrapper-max-width, 72rem);
  position: relative;
}

/* By default, the sidebar is the first child. 
   Use the `data-right` attribute if the sidebar is the second child. */
.with-sidebar {
  display: flex;
  align-items: var(--sidebar-alignment, flex-start);
  flex-wrap: wrap;
  gap: var(--sidebar-gutter, var(--space-s-l));

  &[data-reversed] {
    flex-direction: row-reverse;
  }

  &:not([data-right]):not([data-direction]) > :first-child,
  &:not([data-right])[data-direction="rtl"] > :last-child,
  &[data-right]:not([data-direction]) > :last-child,
  &[data-right][data-direction="rtl"] > :first-child {
    flex-grow: 1;
    flex-basis: var(--sidebar-target-width, 20rem);
  }

  &:not([data-right]):not([data-direction]) > :last-child,
  &:not([data-right])[data-direction="rtl"] > :first-child,
  &[data-right]:not([data-direction]) > :first-child,
  &[data-right][data-direction="rtl"] > :last-child {
    flex-basis: 0;
    flex-grow: 666;
    min-inline-size: var(--sidebar-content-min-width, 66.666%);
  }
}

.switcher {
  --switcher-thresold: 30rem;
  --switcher-gutter: var(--gutter);

  display: flex;
  flex-wrap: wrap;
  align-items: var(--switcher-vertical-alignment, flex-start);
  gap: var(--switcher-gutter, var(--space-s-l));

  & > * {
    flex-basis: calc((var(--switcher-thresold) - 100%) * 999);
    flex-grow: 1;
  }
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: var(--gutter);

  & > * {
    grid-column: col-start / span 12;
  }

  &[data-align-end] {
    align-items: end;
  }
}

@media (width >= 62rem) {
  .grid-12 {
    & > * {
      grid-column: span 3;
    }

    &[data-halves] > * {
      grid-column: span 6;
    }

    &[data-thirds] > * {
      grid-column: span 4;
    }
  }
}
