.nav {
  --cluster-justify: flex-start;
  width: 100%;
  z-index: 102;
  font-size: var(--text-size-small);

  & > :nth-child(2) {
    margin-inline: 0 auto;
  }

  & > nav {
    & a {
      color: var(--color-global-text);
      text-decoration-line: none;
      font-weight: var(--font-normal);

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}

.nav__logo {
  display: flex;
  align-items: center;

  & img {
    border: none;
    height: var(--step-2);
    width: auto;
  }
}

.nav__items {
  display: flex;

  & li {
    display: flex;
  }
}

.nav__buttons {
  list-style: none;

  & li {
    display: flex;
  }
}

.nav-active {
  display: none;
}

.footer {
  --cluster-align: flex-start;

  color: var(--color-gray-400);
  background: var(--color-gray-800);
  padding-block: var(--space-xl);
  font-size: var(--text-size-small);
  margin-block: auto 0;

  & > div.wrapper {
    --sidebar-alignment: stretch;
  }

  & a {
    text-decoration-color: currentColor;
    text-decoration-line: none;

    &:hover {
      color: var(--color-light);
      text-decoration-line: underline;
    }
  }
}

.footer__support {
  & svg {
    height: 1em;
    width: 1em;
  }

  & p:first-of-type {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    font-size: var(--text-size-prose);
    font-weight: var(--font-bold);
  }

  & p:nth-of-type(2) {
    color: var(--color-gray-400);
  }

  & > :last-child {
    margin-block-start: auto;
  }
}

.footer__options {
  --cluster-align: flex-start;
  --grid-column-width: 10rem;
  --sidebar-target-width: 8rem;
  --sidebar-content-min-width: 30rem;

  & dt {
    color: var(--color-gray-400);
    font-weight: var(--font-bold);
    letter-spacing: var(--kerning);
  }

  & dd {
    color: var(--color-gray-300);
    padding-block: var(--space-3xs);
  }
}

.footer__legals {
  --cluster-justify: space-between;
  --switcher-gutter: var(--space-3xs);

  font-size: var(--text-size-small);
  padding-block-start: var(--padding-base);
  border-block-start: 1px solid var(--color-gray-400);
  /* font-size: var(--text-size-tiny); */

  & > ul {
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.newsletter-form {
  --flow-space: var(--space-2xs);
  --newsletter-radius: var(--radius-s);
  --newsletter-form-space: var(--space-2xs);
  --sidebar-target-width: fit-content;
  --sidebar-content-min-width: 8rem;
  --sidebar-gutter: var(--newsletter-form-space);
  --sidebar-alignment: center;
  max-width: 60rem;

  & label {
    font-weight: var(--font-bold);
  }

  & input {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--newsletter-radius);
    color: var(--color-gray-300);

    &::placeholder {
      color: currentColor;
    }
  }
}

.newsletter-form__name {
  position: absolute;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.newsletter-form__controls {
  background: var(--color-gray-700);
  padding: var(--newsletter-form-space);
  border-radius: calc(var(--newsletter-radius) + var(--newsletter-form-space));
}
