.pricing {
  & h2 {
    text-align: center;
  }

  & h3 {
    text-align: center;
  }
}

.pricing__table {
  width: 100%;

  & h2 {
    font-size: var(--step-0);
  }

  & > div {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: var(--shadow-m);
    padding: var(--padding-base);
    border-radius: var(--radius);
    gap: var(--gutter);
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gutter);

    & > ul {
      width: 100%;
      display: flex;
      font-weight: var(--font-bold);
      justify-content: space-between;
      font-size: var(--step-1);
    }

    & li:nth-child(2) {
      color: var(--color-accent);
    }
  }

  & header ul {
    font-size: var(--step-3);
  }
  & header li > span {
    font-size: var(--step-0);
  }

  & article li:before {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z'%3E%3C/path%3E%3C/svg%3E");
    content: "";
    -webkit-mask: var(--icon);
    mask: var(--icon);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: currentColor;
    vertical-align: middle;
    display: inline-block;
    color: var(--color-accent-light);
    height: 1em;
    width: 1em;
    margin-inline-end: var(--space-3xs);
  }

  & a {
    width: 100%;
    text-align: center;
  }

  & p {
    color: var(--color-gray-600);
  }
}
