:root {
  --font-serif: Noto Serif, Georgia, "Times New Roman", Times, serif;
  --font-sans: Open Sans, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-base: var(--font-sans);
  --font-monospace: "Courier New", Courier, monospace;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* Colors */

  --rgb-black: 12 10 9;

  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;

  --color-teal-500: #14b8a6;
  --color-teal-700: #0f766e;

  --color-white: #fff;
  --color-primary: var(--color-blue-600);
  --color-primary-light: #f24a54;
  --color-primary-dark: #c50e18;
  --color-accent: var(--color-teal-700);
  --color-accent-light: var(--color-teal-500);

  --color-dark: var(--color-gray-800);
  --color-light: var(--color-gray-100);

  --color-global-bg: var(--color-light);
  --color-global-text: var(--color-dark);
  --color-text-light: var(--color-gray-600);

  --color-surface-bg: var(--color-blue-600);
  --color-surface-text: var(--color-light);
  --color-surface-interact-bg: var(--color-blue-700);
  --color-surface-interact-text: var(--color-light);
  --color-surface-active-bg: var(--color-blue-800);
  --color-surface-active-text: var(--color-light);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.2,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* --step--2: clamp(0.6944rem, 0.6643rem + 0.151vw, 0.7813rem); */
  /* --step--1: clamp(0.8333rem, 0.7971rem + 0.1812vw, 0.9375rem); */
  /* --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem); */
  /* --step-1: clamp(1.2rem, 1.1478rem + 0.2609vw, 1.35rem); */
  /* --step-2: clamp(1.44rem, 1.3774rem + 0.313vw, 1.62rem); */
  /* --step-3: clamp(1.728rem, 1.6529rem + 0.3757vw, 1.944rem); */
  /* --step-4: clamp(2.0736rem, 1.9834rem + 0.4508vw, 2.3328rem); */
  /* --step-5: clamp(2.4883rem, 2.3801rem + 0.5409vw, 2.7994rem); */
  /* --step-6: clamp(2.986rem, 2.8562rem + 0.6491vw, 3.3592rem); */

  --space-xs: clamp(0.75rem, 0.69rem + 0.29vw, 0.9375rem);
  --space-s: clamp(1rem, 0.92rem + 0.39vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.38rem + 0.58vw, 1.875rem);
  --space-l: clamp(2rem, 1.84rem + 0.78vw, 2.5rem);
  --space-xl: clamp(3rem, 2.77rem + 1.17vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.69rem + 1.55vw, 5rem);
  --space-3xl: clamp(6rem, 5.53rem + 2.33vw, 7.5rem);
  --space-xs-s: clamp(0.75rem, 0.59rem + 0.78vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.73rem + 1.36vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.19rem + 1.55vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.46rem + 2.72vw, 3.75rem);
  --space-l-2xl: clamp(2rem, 1.07rem + 4.66vw, 5rem);
  --space-xl-2xl: clamp(3rem, 2.38rem + 3.11vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.91rem + 5.44vw, 7.5rem);

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);

  --gutter: var(--space-s);
  --gutter-column: var(--gutter);
  --gutter-row: var(--gutter);

  /* Padding */
  --padding-l: var(--space-m);
  --padding-base: var(--space-s);
  --padding-m: var(--space-2xs);
  --padding-s: var(--space-2xs);

  --body-padding: var(--space-s);
  --page-padding: var(--space-m);

  --padding-button-block: var(--space-2xs);
  --padding-button-inline: var(--space-s);
  --padding-button: var(--padding-button-block) var(--padding-button-inline);

  --measure: 70ch;
  --measure-xs: 20ch;
  --measure-s: 35ch;
  --measure-m: 55ch;
  --measure-l: 75ch;

  --text-size-heading-1: var(--step-5);
  --text-size-heading-2: var(--step-3);
  --text-size-heading-3: var(--step-2);
  --text-size-prose: var(--step-0);
  --text-size-small: var(--step--1);
  --text-size-tiny: var(--step--2);

  --gutter: var(--space-s-m);

  --radius-full: 6666px;
  --radius-s: 0.25em;
  --radius: 0.5em;
  --radius-m: 1em;
  --radius-l: 2em;

  --border-radius: 0.5rem;

  --border-input-focus: 2px dashed var(--color-dark);

  --focus-ring-color: currentColor;
  --focus-ring-offset: 0.25lh;
  --focus-ring-style: solid;
  --focus-ring-width: 2px;

  --leading: 1.4;
  --leading-short: 1.3;
  --leading-slim: 1.2;
  --leading-fine: 1.1;
  --leading-flat: 1;

  --kerning: normal;
  --kerning-tight: -0.04ch;
  --kerning-loose: 0.1ch;

  --tracking: -0.05ch;
  --tracking-s: -0.035ch;

  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

  --border: 1px solid var(--color-gray-400);

  --hero-overlap: calc(3 * var(--space-2xl));

  --shadow-m: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
