---
title: "Brinjel"
description: "Open source crop-planning for market gardeners"
---

<header class="hero wrapper">
  <h1>Open source <em>crop-planning</em> for market gardeners</h1>
  <p>
    Plan your season and track your crops with a free and open source software
    made by market gardeners for market gardeners.
  </p>

  <figure class="relative">
    {{< img src="/img/brinjel-screenshot-en.png" alt="Screenshot of Brinjel showing the crop plan" >}}
  </figure>
</header>

<article class="features">
  <dl class="features-grid grid-12 wrapper" data-thirds>
    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 3V5H3V3H12ZM16 19V21H10V19H16ZM22 11V13H5V11H22Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        Plan your season
      </dt>
      <dd>
        Design your crop plan: plantings, crop, varieties, bed lengths,
        spacings, densities, expected yields... Visualize each season. Easily
        create, duplicate, delete, batch-edit, sort and filter plantings.
      </dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M9 1V3H15V1H17V3H21C21.5523 3 22
              3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2
              20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20
              10H4V19H20V10ZM15.0355 11.136L16.4497 12.5503L11.5 17.5L7.96447
              13.9645L9.37868 12.5503L11.5 14.6716L15.0355 11.136ZM7
              5H4V8H20V5H17V6H15V5H9V6H7V5Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        Keep track of your tasks
      </dt>
      <dd>
        Manage your tasks week by week: sowing, transplanting, weeding,
        trellising, irrigating... Automatically generate sowing and planting
        tasks and get seed quantities and number of flats to start in nursery.
        Quickly filter out overdue, due and done tasks. Track your labor cost by
        task.
      </dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon | -rotate-90">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M4 8H20V5H4V8ZM14 19V10H10V19H14ZM16 19H20V10H16V19ZM8 19V10H4V19H8ZM3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3Z"
            ></path>
          </svg>
        </div>
        Manage your field map and crop rotations
      </dt>
      <dd>
        Design your crop map by drag n' dropping your plantings on your field
        map. Get the crop history of every single bed to ensure good rotations.
      </dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M4.34315 1.4082L22.3744 19.4394C22.9602 20.0252 22.9602 20.975 22.3744 21.5607C21.7886 22.1465 20.8388 22.1465 20.253 21.5607L15.6569 16.9646L12.1213 20.5001L4.34315 12.7219C1.2779 9.65666 1.22006 4.72285 4.16964 1.58709L4.34315 1.4082ZM4.58437 4.47838L4.5329 4.58823C3.56416 6.72709 3.91772 9.315 5.58066 11.1234L5.75736 11.3077L12.1207 17.6716L14.9491 14.8431L4.58437 4.47838Z"
            ></path>
          </svg>
        </div>
        Track your harvests and crop yields
      </dt>
      <dd>Keep track of each harvest and get real-time crop yields.</dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5.99805 3C9.48787 3 12.3812 5.55379 12.9112 8.8945C14.0863 7.72389 15.7076 7 17.498 7H21.998V9.5C21.998 13.0899 19.0879 16 15.498 16H12.998V21H10.998V13H8.99805C5.13205 13 1.99805 9.86599 1.99805 6V3H5.99805ZM19.998 9H17.498C15.0128 9 12.998 11.0147 12.998 13.5V14H15.498C17.9833 14 19.998 11.9853 19.998 9.5V9ZM5.99805 5H3.99805V6C3.99805 8.76142 6.23662 11 8.99805 11H10.998V10C10.998 7.23858 8.75947 5 5.99805 5Z"
            ></path>
          </svg>
        </div>
        Seeds and transplants list
      </dt>
      <dd>
        Autogenerate a list of the seeds and transplants to buy based on your
        crop plan.
      </dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 3V19H21V21H3V3H5ZM20.2929 6.29289L21.7071 7.70711L16 13.4142L13 10.415L8.70711 14.7071L7.29289 13.2929L13 7.58579L16 10.585L20.2929 6.29289Z"
            ></path>
          </svg>
        </div>
        Charts and analytics
      </dt>
      <dd>
        Analyze your results (yield, working time, gap between what you planned
        and what really happened) to better plan for the next year.
      </dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M20.0049 2C21.1068 2 22 2.89821 22 3.9908V20.0092C22 21.1087 21.1074 22 20.0049 22H4V18H2V16H4V13H2V11H4V8H2V6H4V2H20.0049ZM8 4H6V20H8V4ZM20 4H10V20H20V4Z"
            ></path>
          </svg>
        </div>
        Take notes and photos
      </dt>
      <dd>
        Write notes, take photos and link them to your plantings, tasks or
        locations.
      </dd>
    </div>

    <div>
      <dt>
        <div class="features-grid__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H16C16 18.6863 13.3137 16 10 16C6.68629 16 4 18.6863 4 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM10 11C12.21 11 14 9.21 14 7C14 4.79 12.21 3 10 3C7.79 3 6 4.79 6 7C6 9.21 7.79 11 10 11ZM18.2837 14.7028C21.0644 15.9561 23 18.752 23 22H21C21 19.564 19.5483 17.4671 17.4628 16.5271L18.2837 14.7028ZM17.5962 3.41321C19.5944 4.23703 21 6.20361 21 8.5C21 11.3702 18.8042 13.7252 16 13.9776V11.9646C17.6967 11.7222 19 10.264 19 8.5C19 7.11935 18.2016 5.92603 17.041 5.35635L17.5962 3.41321Z"
            ></path>
          </svg>
        </div>
        Collaborate
      </dt>
      <dd>
        Invite other people on your farm space. Manage authorizations (guest,
        manager, crew member, seasonal worker). Assign tasks to team members.
      </dd>
    </div>
  </dl>
</article>

<div class="bottom-cta wrapper cluster">
  <div>
    <h2>Ready to plan?</h2>
    <a href="https://app.brinjel.com/register">Start you free trial today.</a>
  </div>
  <div>
    <a
      href="https://app.brinjel.com/register"
      class="button"
      data-big
      data-type="primary"
      >Try Brinjel</a
    >
  </div>
</div>
