---
title: "Pricing"
slug: "pricing"
type: pricing
---

<header id="pricing" class="hero wrapper">
  <h1>Simple pricing. <em>For all farms.</em></h1>
  <p>Sign up for 30-day free trial. No credit card required.</p> 
  <div class="pricing__table grid-12" data-thirds>
    <div>
      <header>
        <h2>Small farm&nbsp;(<&nbsp;1&nbsp;ha)</h2>
        <ul role="list">
          <li>5 €<span>/month</span></li>
          <li>50 €<span>/year</span></li>
        </ul>
        <a href="http://app.brinjel.com/register" class="button" data-type="primary" />Try Brinjel</a>
      </header>
      <article>
        <ul role="list">
          <li>2 members</li>
          <li>1 GB photo storage</li>
        </ul>
      </article>
    </div>
    <div>
      <header>
        <h2>Medium farm&nbsp;(1-3&nbsp;ha)</h2>
        <ul role="list">
          <li>10 €<span>/month</span></li>
          <li>100 €<span>/year</span></li>
        </ul>
        <a href="http://app.brinjel.com/register" class="button" data-type="primary" />Try Brinjel</a>
      </header>
      <article>
        <ul role="list">
          <li>10 members</li>
          <li>5 GB photo storage</li>
        </ul>
      </article>
    </div>
    <div>
      <header>
        <h2>Big farm&nbsp;(>&nbsp;3&nbsp;ha)</h2>
        <ul role="list">
          <li>30 €<span>/month</span></li>
          <li>300 €<span>/year</span></li>
        </ul>
        <a href="http://app.brinjel.com/register" class="button" data-type="primary" />Try Brinjel</a>
      </header>
      <article>
        <ul role="list">
          <li>Unlimited members</li>
          <li>20 GB photo storage</li>
          <li>Priority support</li>
        </ul>
      </article>
    </div>
  </div>
</header>

<article id="pricing-faq" class="faq">
  <div class="wrapper flow prose">
    <h2>Frequently asked questions</h2>
    <h3>What are the differences between the subscriptions plans?</h3>
    <p>
      We want most farmers to be able to user Brinjel, so we’re offering an
      affordable first price. All features are available in every subscription
      plan. The only differences are the number of members per farm and the
      storage space for photos linked to notes. We also provide priority support
      for higher plans.
    </p>

    <h3>Does my free trial limit my access to features?</h3>
    <p>
      The free trial includes all features except one: you cannot upload photos
      with your notes. Photo storage has a cost, so we keep this feature for our
      subscribers.
    </p>

    <h3>What happens after my free trial ends?</h3>
    <p>
      After the 30 day trial, all features will be locked. You’ll then have the
      choice of subscribing by entering your payment details, or retrieving all
      your data with a single click.
    </p>

    <h3>Will I be charged when my 30-day trial is up?</h3>
    <p>
      No. We don’t ask for a credit card to try Brinjel, so we can’t charge you until
      you decide you want to become a customer.
    </p>

    <h3> Can I cancel at any time? </h3>
    <p>
      Yes. And you’ll be able to download all your farm’s data.
    </p>

    <h3>Are taxes included in the price?</h3>
    <p>
      No. Any taxes our payment processor collect are in addition to the stated prices. 
    </p>

    <h3>What if I have more questions?</h3>
    <p><a href="/en/contact">Contact us</a> and we’ll help you out.</p>
  </div>
</article>
