<svg
  width="16"
  height="16"
  viewBox="0 0 52.91666 52.916672"
  version="1.1"
  id="svg8"
  inkscape:version="0.92.2 (5c3e80d, 2017-08-06)"
  sodipodi:docname="logo.svg"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
>
  <defs id="defs2">
    <linearGradient inkscape:collect="always" id="linearGradient8499">
      <stop
        style="stop-color: #ffeabc; stop-opacity: 1"
        offset="0.17072026"
        id="stop8495"
      />
      <stop
        style="stop-color: #ff9b00; stop-opacity: 1"
        offset="1"
        id="stop8497"
      />
    </linearGradient>
    <linearGradient
      inkscape:collect="always"
      xlink:href="#linearGradient8499"
      id="linearGradient7453"
      gradientUnits="userSpaceOnUse"
      gradientTransform="translate(-62.180612,106.96695)"
      x1="87.274559"
      y1="50.309158"
      x2="140.19122"
      y2="103.22581"
    />
  </defs>
  <sodipodi:namedview
    id="base"
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1.0"
    inkscape:pageopacity="0.0"
    inkscape:pageshadow="2"
    inkscape:zoom="2.6085506"
    inkscape:cx="535.3575"
    inkscape:cy="971.28875"
    inkscape:document-units="px"
    inkscape:current-layer="layer1"
    showgrid="false"
    showborder="false"
    showguides="true"
    inkscape:guide-bbox="true"
    inkscape:window-width="1280"
    inkscape:window-height="969"
    inkscape:window-x="0"
    inkscape:window-y="31"
    inkscape:window-maximized="1"
    inkscape:object-nodes="false"
    inkscape:showpageshadow="0"
    inkscape:pagecheckerboard="0"
    inkscape:deskcolor="#d1d1d1"
  >
    <inkscape:grid type="xygrid" id="grid4970" />
  </sodipodi:namedview>
  <metadata id="metadata5">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
    inkscape:label="Calque 1"
    inkscape:groupmode="layer"
    id="layer1"
    transform="translate(-25.093878,-157.276)"
  >
    <path
      id="rect4504-5-1"
      d="m 34.883462,157.276 c -5.42343,0 -9.789584,4.36615 -9.789584,9.78958 v 33.3375 c 0,5.42343 4.366154,9.78958 9.789584,9.78958 h 33.3375 c 5.42343,0 9.78958,-4.36615 9.78958,-9.78958 v -33.3375 c 0,-5.42343 -4.36615,-9.78958 -9.78958,-9.78958 z"
      style="
        fill: url(#linearGradient7453);
        fill-opacity: 1;
        stroke: none;
        stroke-width: 0.264583;
      "
      inkscape:connector-curvature="0"
      inkscape:export-filename="rect4504-5-1.svg"
      inkscape:export-xdpi="122.88"
      inkscape:export-ydpi="122.88"
    />
    <g
      id="g4930-0"
      transform="matrix(0.54366163,0,0,0.54366163,35.630482,167.81271)"
    >
      <path
        style="fill: #583e68"
        d="m 50.841,18.962 c 0.004,0.003 0.008,0.007 0.012,0.01 l -0.022,-0.015 c 0.004,10e-4 0.007,0.003 0.01,0.005 -1.072,-0.759 -1.505,-1.993 -0.965,-2.762 -0.542,0.772 -1.858,0.783 -2.939,0.025 -1.081,-0.759 -1.519,-2 -0.977,-2.772 -0.542,0.772 -1.858,0.783 -2.939,0.025 -1.081,-0.759 -1.518,-2 -0.977,-2.772 -0.5,0.713 -1.658,0.769 -2.684,0.178 -1.531,1.114 -3.23,2.625 -5.094,4.679 0,0 -8.066,7.537 -19.445,9.612 -1.052,0.192 -2.096,0.447 -3.077,0.873 -0.44,0.191 -1.418,0.702 -1.418,0.702 -6.696,3.703 -10.271,11.608 -8.17,19.321 1.886,6.926 7.792,11.667 14.517,12.413 3.086,0.342 6.191,-0.331 9.001,-1.651 6.256,-2.938 19.014,-11.419 24.29,-33.11 0,0 0.796,-1.966 1.364,-4.514 -0.167,-0.061 -0.33,-0.139 -0.487,-0.247 z"
        id="path4876-9"
        inkscape:connector-curvature="0"
      />
      <path
        style="fill: #6a3311"
        d="m 50.555,7.66 c -0.552,0 -1,-0.447 -1,-1 0,-0.553 0.448,-1 1,-1 1.922,0 3.506,-0.587 4.134,-1.531 0.451,-0.679 0.438,-1.601 -0.041,-2.741 -0.213,-0.509 0.026,-1.095 0.536,-1.309 0.511,-0.216 1.095,0.026 1.309,0.535 0.938,2.237 0.443,3.748 -0.138,4.622 -1.009,1.518 -3.177,2.424 -5.8,2.424 z"
        id="path4878-3"
        inkscape:connector-curvature="0"
      />
      <path
        style="fill: #659c35"
        d="M 39.085,10.715 C 38.091,10.017 37.825,8.681 38.492,7.731 39.159,6.78 40.506,6.575 41.5,7.273 43.634,4.231 47.478,4.5 50.66,6.733 c 3.182,2.233 4.62,5.669 2.486,8.711 0.994,0.698 1.26,2.034 0.593,2.984 -0.667,0.95 -1.913,1.226 -2.907,0.529 l 0.022,0.015 c -1.081,-0.759 -1.519,-2 -0.977,-2.772 -0.542,0.772 -1.858,0.783 -2.939,0.025 -1.081,-0.759 -1.519,-2 -0.977,-2.772 -0.542,0.772 -1.858,0.783 -2.939,0.025 -1.081,-0.759 -1.519,-2 -0.977,-2.772 -0.542,0.772 -1.858,0.783 -2.939,0.025"
        id="path4880-6"
        inkscape:connector-curvature="0"
      />
    </g>
  </g>
</svg>
