<footer class="footer">
  <div class="wrapper with-sidebar">
    <div class="footer__support stack">
      <p>{{- partial "brinjelIcon.html" . -}} Brinjel</p>
      <p>{{ T "app-description" }}</p>
      <p>
        Copyright &copy;
        {{ now.Format "2006" }}
        {{ with .Site.Copyright | default .Site.Title }}
          {{ . | safeHTML }}
        {{ end }}
      </p>
    </div>
    <div class="flow">
      <div class="footer__options grid">
        {{- range site.Menus.footer }}
          <dl>
            <dt>{{ or (T .Identifier) .Name | safeHTML }}</dt>
            {{- range .Children }}
              <dd>
                <a href="{{ .URL }}"
                  >{{ or (T .Identifier) .Name | safeHTML }}</a
                >
              </dd>
            {{- end }}
          </dl>
        {{- end }}
      </div>
      <form
        class="newsletter-form flow"
        action="{{ T "newsletter-form-url" }}"
        method="post"
      >
        <label for="contact_email">{{ T "newsletter-label" }}</label>
        <div class="newsletter-form__controls with-sidebar" data-right>
          <input
            id="contact_email"
            type="email"
            name="contact[email]"
            autocapitalize="none"
            autocorrect="off"
            pattern="[^@]+@[^\.]+\..+"
            required
            placeholder="{{ T "newsletter-form-placeholder" }}"
            value=""
          />
          <input
            id="contact_language"
            name="contact[data][language]"
            type="hidden"
            value="{{ T "site-lang" }}"
          />
          <input
            id="contact_name"
            name="h[name]"
            class="newsletter-form__name"
          />
          <button class="button" data-type="subscribe">
            {{ T "newsletter-form-label" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
