<header class="nav wrapper cluster">
  <div class="nav__logo">
    <a href="/" aria-label="Brinjel">
      {{ partial "render-image.html" (dict "Destination" "img/logo-text.png" "Description" "Brinjel Logo") }}
    </a>
  </div>

  <nav>
    <ul class="cluster">
      {{ range site.Menus.main }}
        {{ if .Name }}
          <li>
            <a href="{{ .URL }}" class="">
              {{ or (T .Identifier) .Name | safeHTML }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>

  <ul class="nav__buttons cluster" role="list">
    <li>
      <a
        href="https://app.brinjel.com/login"
        class="button"
        data-type="secondary"
      >
        {{ T "login" }}
      </a>
    </li>
    <li>
      <a
        href="https://app.brinjel.com/register"
        class="button"
        data-type="primary"
      >
        {{ T "free-trial" }}
      </a>
    </li>
  </ul>
</header>
