<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{- partial "head.html" . -}}

  <body>
    {{ partial "nav-a11y.html" }} {{- partial "header.html" . -}}

    <main id="main-content">{{- block "main" . }}{{- end }}</main>

    {{- partial "footer.html" . -}}
  </body>
</html>
