{{ define "main" }}
  <header class="wrapper">
    <h1>{{ .Title }}</h1>
  </header>
  <article class="bg-white">
    <div class="wrapper">
      <ul class="article-list grid" role="list">
        {{ range .Pages }}
          <li>
            {{ with .GetTerms "tags" }}
              <div class="blog-info">
                {{ range . }}
                  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
              </div>
            {{ end }}
            <h2><a href="{{ .Permalink }}"> {{ .Title }} </a></h2>
            <p>{{- .Summary -}}</p>
            <time datetime="{{ .Date }}"
              >{{ .Date | time.Format ":date_long" }}</time
            >
          </li>
        {{ end }}
      </ul>
    </div>
  </article>
{{ end }}
