{{ define "main" }} {{ if .Params.toc }}
<header class="wrapper">
  <h1>{{ .Title }}</h1>
</header>

<article class="bg-white">
<div class="wrapper with-sidebar" data-right>
  <article class="prose flow">
    {{ .Content }}
  </article>
  {{ .TableOfContents }}
</div>
</article>
{{ else }}
<header class="wrapper">
  <h1>{{ .Title }}</h1>
</header>
<article class="bg-white">
  <div class="wrapper prose stack">
     {{ .Content }}
  </div>
</article>
{{ end }} {{ end }}
