{{ define "main" }}
<header class="wrapper">
  <h1>{{ .Title }}</h1>
  <p>{{ .Summary }}</p>
  <div class="blog-info">
    <time datetime="{{ .Date }}">{{ .Date | time.Format ":date_long" }}</time>
    {{ with .GetTerms "tags" }}
    •
    <ul role="list" role="cluster">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</header>
<article class="bg-white">
  <div class="wrapper prose stack">
    {{ if .Params.toc }} {{ .TableOfContents }} {{ end }} {{ .Content }}
  </div>
</article>
{{ end }}
